.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  padding-bottom: 4em;

  height: calc(100vh - var(--header-height));

  background-image: url("../img/logo.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome-container .welcome-text {
  color: var(--text-primary-clr);
  font-size: 2.25rem;
  color: #f8f9fa;
  text-shadow: 0 0 10px #fff;
  opacity: 0.9;
}
